.errorMessage {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin: 0 auto;
}
.styleMessage {
  text-align: center;
  font-size: 30px;
  color: darkred;
  text-shadow: 1px 1px 1px #5C5C5C;
}
